<h2>Warehouse</h2>
<mat-tab-group animationDuration="0ms">
  <mat-tab label="Customer">

    <!-- [start] -->
    <!-- COST (LONG FORM) -->
    <div id="ssi-cost" fxLayout="row">

      <!-- cost.[title] -->
      <div id="ssi-cost-title" class="ssi-default ssi-title">Cost</div>

      <!-- cost.[0] -->
      <div id="ssi-cost-xs" class="ssi-default ssi-form-field">
        <mat-form-field>
          <input matInput value="1,000,000">
        </mat-form-field>
      </div>

      <!-- cost.[1] -->
      <div id="ssi-cost-s" class="ssi-default ssi-form-field">
        <mat-form-field>
          <input matInput value="10.00">
        </mat-form-field>
      </div>

      <!-- cost.[2] -->
      <div id="ssi-cost-m" class="ssi-default ssi-form-field">
        <mat-form-field>
          <input matInput value="10.00">
        </mat-form-field>
      </div>

      <!-- cost.[3] -->
      <div id="ssi-cost-l" class="ssi-default ssi-form-field">
        <mat-form-field>
          <input matInput value="10.00">
        </mat-form-field>
      </div>

      <!-- cost.[4] -->
      <div id="ssi-cost-xl" class="ssi-default ssi-form-field">
        <mat-form-field>
          <input matInput value="10.00">
        </mat-form-field>
      </div>

      <!-- cost.[5] -->
      <div id="ssi-cost-xxl" class="ssi-default ssi-form-field">
        <mat-form-field>
          <input matInput value="10.00">
        </mat-form-field>
      </div>

      <!-- cost.[6] -->
      <div id="ssi-cost-3xl" class="ssi-default ssi-form-field">
        <mat-form-field>
          <input matInput value="10.00">
        </mat-form-field>
      </div>

      <!-- cost.[7] -->
      <div id="ssi-cost-4xl" class="ssi-default ssi-form-field">
        <mat-form-field>
          <input matInput value="10.00">
        </mat-form-field>
      </div>

      <!-- cost.[8] -->
      <div id="ssi-cost-5xl" class="ssi-default ssi-form-field">
        <mat-form-field>
          <input matInput value="10.00">
        </mat-form-field>
      </div>

    </div>
    <!-- [end] -->

  </mat-tab>
  <mat-tab label="Company">
    [COMPANY INVENTORY TABLE GOES HERE]
  </mat-tab>
</mat-tab-group>