<!-- / start: order-form-grid / -->

<!-- SIZE (LONG FORM)  -->
<div id="ssi-size" fxLayout="row">
  <div id="ssi-size-title" class="ssi-default ssi-title">
    <span>Minneapolis, MN</span>
  </div>
  <div id="ssi-cost-xs" class="ssi-default ssi-form-col-header ssi-source-status">XS</div>
  <div id="ssi-cost-s" class="ssi-default ssi-form-col-header ssi-source-status">S</div>
  <div id="ssi-cost-m" class="ssi-default ssi-form-col-header ssi-source-status">M</div>
  <div id="ssi-cost-l" class="ssi-default ssi-form-col-header ssi-source-status">XL</div>
  <div id="ssi-cost-xxl" class="ssi-default ssi-form-col-header ssi-source-status">XXL</div>
  <div id="ssi-cost-3xl" class="ssi-default ssi-form-col-header ssi-source-status">3XL</div>
  <div id="ssi-cost-4xl" class="ssi-default ssi-form-col-header ssi-source-status">4XL</div>
  <div id="ssi-cost-5xl" class="ssi-default ssi-form-col-header ssi-source-status">5XL</div>
</div>


<!-- COST (LONG FORM) -->
<div id="ssi-cost" fxLayout="row">
  <!-- [title] -->
  <div id="ssi-cost-title" class="ssi-default ssi-title">
    <span>Cost</span>
  </div>

  <!-- [0] -->
  <div id="ssi-cost-xs" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- [1] -->
  <div id="ssi-cost-s" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- [2] -->
  <div id="ssi-cost-m" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- [3] -->
  <div id="ssi-cost-l" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- [4] -->
  <div id="ssi-cost-xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- [5] -->
  <div id="ssi-cost-xxl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- [6] -->
  <div id="ssi-cost-3xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- [7] -->
  <div id="ssi-cost-4xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- [8] -->
  <div id="ssi-cost-4xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>
</div>


<!-- PRICE -->
<div id="ssi-price" class="ssi-default ssi-form-field">
  <mat-form-field>
    <!-- <mat-label>Price</mat-label> -->
    <input matInput value="20.00">
  </mat-form-field>
</div>

<!-- QUANTITY -->
<div id="ssi-price" class="ssi-default ssi-form-field">
  <mat-form-field>
    <!-- <mat-label>Quantity</mat-label> -->
    <input matInput value="0">
  </mat-form-field>
</div>

<!-- / end: order-form-grid / -->