<!-- / start: order-form-grid / -->

<!-- SIZE (LONG FORM)  -->
<div id="ssi-size" fxLayout="row">
  <div id="ssi-size-title" class="ssi-default ssi-title">
    Size
  </div>
  <div id="ssi-cost-xs" class="ssi-default ssi-form-col-header ssi-source-status">XS</div>
  <div id="ssi-cost-s" class="ssi-default ssi-form-col-header ssi-source-status">S</div>
  <div id="ssi-cost-m" class="ssi-default ssi-form-col-header ssi-source-status">M</div>
  <div id="ssi-cost-l" class="ssi-default ssi-form-col-header ssi-source-status">L</div>
  <div id="ssi-cost-xl" class="ssi-default ssi-form-col-header ssi-source-status">XL</div>
  <div id="ssi-cost-xxl" class="ssi-default ssi-form-col-header ssi-source-status">XXL</div>
  <div id="ssi-cost-3xl" class="ssi-default ssi-form-col-header ssi-source-status">3XL</div>
  <div id="ssi-cost-4xl" class="ssi-default ssi-form-col-header ssi-source-status">4XL</div>
  <div id="ssi-cost-5xl" class="ssi-default ssi-form-col-header ssi-source-status">5XL</div>
</div>

<!-- COST (LONG FORM) -->
<div id="ssi-cost" fxLayout="row">
  <!-- cost.[title] -->
  <div id="ssi-cost-title" class="ssi-default ssi-title">
    Cost
  </div>

  <!-- cost.[0] -->
  <div id="ssi-cost-xs" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="1,000,000">
    </mat-form-field>
  </div>

  <!-- cost.[1] -->
  <div id="ssi-cost-s" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- cost.[2] -->
  <div id="ssi-cost-m" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- cost.[3] -->
  <div id="ssi-cost-l" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- cost.[4] -->
  <div id="ssi-cost-xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- cost.[5] -->
  <div id="ssi-cost-xxl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- cost.[6] -->
  <div id="ssi-cost-3xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- cost.[7] -->
  <div id="ssi-cost-4xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- cost.[8] -->
  <div id="ssi-cost-5xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

</div>

<!-- PRICE (LONG FORM) -->
<div id="ssi-price" fxLayout="row">
  <!-- price.[title] -->
  <div id="ssi-price-title" class="ssi-default ssi-title">
    Price
  </div>

  <!-- price.[0] -->
  <div id="ssi-price-xs" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="1,000,000">
    </mat-form-field>
  </div>

  <!-- price.[1] -->
  <div id="ssi-price-s" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- price.[2] -->
  <div id="ssi-price-m" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- price.[3] -->
  <div id="ssi-price-l" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- [4] -->
  <div id="ssi-price-xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- price.[5] -->
  <div id="ssi-price-xxl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- price.[6] -->
  <div id="ssi-price-3xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- price.[7] -->
  <div id="ssi-price-4xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

  <!-- price.[8] -->
  <div id="ssi-price-5xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="10.00">
    </mat-form-field>
  </div>

</div>

<!-- QUANTITY (LONG FORM) -->
<div id="ssi-quantity" fxLayout="row">
  <!-- price.[title] -->
  <div id="ssi-quantity-title" class="ssi-default ssi-title">
    Quantity
  </div>

  <!-- price.[0] -->
  <div id="ssi-quantity-xs" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="0">
    </mat-form-field>
  </div>

  <!-- price.[1] -->
  <div id="ssi-quantity-s" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="0">
    </mat-form-field>
  </div>

  <!-- price.[2] -->
  <div id="ssi-quantity-m" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="0">
    </mat-form-field>
  </div>

  <!-- price.[3] -->
  <div id="ssi-quantity-l" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="0">
    </mat-form-field>
  </div>

  <!-- [4] -->
  <div id="ssi-quantity-xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="0">
    </mat-form-field>
  </div>

  <!-- price.[5] -->
  <div id="ssi-quantity-xxl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="0">
    </mat-form-field>
  </div>

  <!-- price.[6] -->
  <div id="ssi-quantity-3xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="0">
    </mat-form-field>
  </div>

  <!-- price.[7] -->
  <div id="ssi-quantity-4xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="0">
    </mat-form-field>
  </div>

  <!-- price.[8] -->
  <div id="ssi-quantity-5xl" class="ssi-default ssi-form-field">
    <mat-form-field>
      <input matInput value="0">
    </mat-form-field>
  </div>

</div>

<!-- / end: order-form-grid / -->