<!-- 
SOURCE STOCK ITEM
Author: 'me@elwoodberry.com'
This code is brought to you by Elwood Berry @ www.AnteraSoftware.com 
-->

<app-core-toolbar></app-core-toolbar>

<div fxLayout="row">
  <div fxFlex="50%" style="padding: 65px;">

    <!-- / start: expansion panel / -->
    <div class="ssi-expansion-panel">

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <app-order-form-grid></app-order-form-grid>
          <div class="source-trigger">Source</div>
        </mat-expansion-panel-header>

        <app-tabs-warehouses></app-tabs-warehouses>


      </mat-expansion-panel>


    </div>
    <!-- / end: expansion panel / -->




    <!-- / start: supplier / -->
    <div class="ssi-supplier">
      <h2>Supplier</h2>
      <!-- WAREHOUSE STOCK -->
      <div id="ssi-supplier-stock" class="ssi-default ssi-form-field">
        <mat-form-field>
          <!-- <mat-label>Quantity</mat-label> -->
          <input matInput value="0">
        </mat-form-field>
      </div>
    </div>
    <!-- /end: supplier / -->





    <!-- / start: conditions / -->
    <h2>Conditions</h2>
    <span>{{demoConditions.value | json}}</span>

    <div [formGroup]="demoConditions">

      <mat-checkbox formControlName="preferredWarehouse">
        <strong>Supplier Warehouses</strong> (primary, secondary, tertiary, etc.) <strong>DO NOT</strong> have enough
        inventory to cover this request.
      </mat-checkbox>


      <div></div>
      <mat-checkbox formControlName="stockItem">
        This is a <strong>Stock Item</strong>.
      </mat-checkbox>
    </div>

    <!-- /end: conditions / -->



  </div>
  <mat-divider [vertical]="true"></mat-divider>
  <div fxFlex="50%" style="">

    <iframe width="768" height="1176" src="https://xd.adobe.com/embed/8af6bbd5-7dea-4031-a824-08ad5efbb4fc-dfa5/"
      frameborder="0" allowfullscreen></iframe>

  </div>
</div>


<!-- 
-------------------------------------------------
Copyright 2021 Antera Software USA LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be found in the LICENSE file at http://www.AnteraSoftware.com  
-->